.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 100px;
}

.contactForm h2 {
    text-transform: uppercase;
    border-bottom: 3px solid #f56262;
}

.contactFormContent {
    background-color: #fff;
    margin-top: 50px;
    
}

.field {
    background-color: #e5e5e5;
    padding: 16px 22px;
    width: 70%;
    outline:none;
    font-size: 16px;
    margin-top: 20px;
}

.contactButton{
    width: 30%;
}